.note {
  margin: 0;
  padding-top: var(--token-preview-note-padding-top);
  color: var(--token-preview-note-color);
  font-family: var(--token-preview-note-font-family);
  font-size: var(--token-preview-note-font-size);
  line-height: var(--token-preview-note-line-height);
}
