.tag {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  margin-bottom: var(--token-preview-tag-margin-bottom);
  padding: var(--token-preview-tag-padding);
  border-style: solid;
  border-width: var(--token-preview-tag-border-width);
  border-color: var(--token-preview-tag-border-color);
  border-radius: var(--token-preview-tag-radius);
  background: var(--token-preview-tag-background);
  color: var(--token-preview-tag-color);
  box-shadow: var(--token-preview-tag-shadow);
  font-family: var(--token-preview-tag-font-family);
  font-size: var(--token-preview-tag-font-size);
  font-weight: var(--token-preview-tag-font-weight);
  letter-spacing: var(--token-preview-tag-letter-spacing);
  line-height: 1;
  text-transform: uppercase;
}
